/* .all-pictures-page {
    padding: 20px;
  }
  
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .photo-gallery img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   */