/* .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 {
  margin-left: 10px;
  font-size: 1.5rem;
  color: #213547;
}

.header-logo {
  height: 50px;
  transition: filter 300ms, height 300ms;
}

.header-logo:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}



.nav-links ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: #213547;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #319795;
}


.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}


.photo-country-count {
  display: flex;
  gap: 10px;
}

.photo-country-count p {
  margin: 0;
  padding: 5px 10px;
  background-color: #eaeaea;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}


.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-info span {
  font-weight: bold;
  font-size: 1.1rem;
}


.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
  padding: 0.5rem 1rem;
  background-color: #319795;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-buttons button:hover {
  background-color: #267b6e;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-left,
  .header-right {
    width: 100%;
    justify-content: space-between;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .auth-buttons {
    width: 100%;
    justify-content: center;
  }
} */
